Python 3.12.5

cdsapi==0.7.5
requests==2.32.3
numpy==2.0.2
xarray==2025.1.2
pandas==2.2.3
seaborn==0.13.2
geopandas==1.0.1
dask==2025.1.0, distributed==2025.1.0
matplotlib==3.9.2
plotly==5.24.1
shapely==2.0.7
eccodes	eccodes==2.39.2
scikit-learn==1.5.2
cfgrib==0.9.15.0
fiona==1.10.1 
netCDF4==1.7.2
h5netcdf==1.5.0 
zarr==3.0.2
joblib==1.4.2
threadpoolctl==3.5.0
scipy==1.14.1